---
import Layout from "../layouts/Layout.astro";
import Heading from "../layouts/Heading.astro";
import Card from "../components/Card.astro";
import BackgroundCard from "../components/BackgroundCard.astro";
import TestimonialGroup from "../components/TestimonialGroup.astro";
import ImageGallery from "../components/ImageGallery.astro";


import cardData from "../assets/data/cardItems.json";
import bgCardData from "../assets/data/bgCardItems.json";
---

<Layout title="Sunnyside">
  <Heading
    backgroundDesktop="url('src/assets/img/desktop/image-header.jpg')"
    backgroundMobile="url('src/assets/img/mobile/image-header.jpg')"
  >
    <div class="heading">
      <h1>We are creatives</h1>
      <div>
        <img src="/icons/icon-arrow-down.svg" alt="" srcset="" />
      </div>
    </div>
  </Heading>

  <section>
    {
      cardData.map((item) => (
        <Card
          backgroundDesktop={item.bg.desktop}
          backgroundMobile={item.bg.mobile}
          heading={item.heading}
          copy={item.copy}
          link={item.link}
          id={item.id}
        />
      ))
    }
  </section>

  <section class="section--bg-cards">
    {
      bgCardData.map((item) => (
        <BackgroundCard
          backgroundDesktop={item.bg.desktop}
          backgroundMobile={item.bg.mobile}
          heading={item.heading}
          copy={item.copy}
          fontColor={item.fontColor}
        />
      ))
    }
  </section>

  <section class="section--testimonial">
    <TestimonialGroup />
  </section>

  <section>
    <ImageGallery />
  </section>


  <footer>
    <div><img src="/logo.svg" alt="" /></div>
    <ul>
      <li><a href="">About</a></li>
      <li><a href="">Services</a></li>
      <li><a href="">Projects</a></li>
    </ul>
    <ul>
      <li><a href=""><img src="/icons/icon-facebook.svg" alt="" /></a></li>
    </ul>
    <ul>
      <li><a href=""><img src="/icons/icon-instagram.svg" alt="" /></a></li>
    </ul>
    <ul>
      <li><a href=""><img src="/icons/icon-twitter.svg" alt="" /></a></li>
    </ul>
    <ul>
      <li><a href=""><img src="/icons/icon-pinterest.svg" alt="" /></a></li>
    </ul>
  </footer>
</Layout>

<style>
  .heading {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
  }

  h1 {
    color: var(--color-neutral-5);
    font-family: "Fraunces", serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(1rem, 5vw, 5rem);
    letter-spacing: 0.6rem;
    align-self: center;
  }

  .section--bg-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section--testimonial {
    padding-block: 8rem;
  }
</style>
