---
const { backgroundMobile, backgroundDesktop, heading, copy, link, id } =
  Astro.props;
---

<div class="card" id={id}>
  <div class="card__img-container">
    <picture>
      <source media="(max-width: 835px)" srcset={backgroundMobile} sizes="" />
      <img
        class="card__img"
        class="gallery__img"
        src={backgroundDesktop}
        alt=""
      />
    </picture>
  </div>
  <div class="card__text">
    <h3 class="card__heading">{heading}</h3>
    <p class="card__copy">{copy}</p>
    <a class="card__link" href="">{link}</a>
  </div>
</div>

<style>
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #transform .card__text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #transform .card__img-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .card__img {
    display: block;
    height: 100%;
    width: 100%;
    object-position: 0%;
  }

  .card__text {
    padding-inline: clamp(1.5rem, 9vw, 7rem);
    align-self: center;
  }

  .card__heading,
  .card__link {
    font-family: "Fraunces", serif;
    color: var(--color-neutral-1);
  }

  .card__heading {
    font-size: clamp(1.5rem, 3vw, 4rem);
    font-weight: 900;
    margin-block: 0;
  }

  .card__copy {
    font-family: "Barlow", sans-serif;
    color: var(--color-neutral-3);
    line-height: 1.5;
    font-size: clamp(1rem, 2vw, 1.1rem);
    margin-block: 2rem;
  }

  .card__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    padding-left: 6px;
  }

  .card__link::after {
    content: "";
    height: 8px;
    width: calc(100% + 8px);
    opacity: 0.3;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: -1;
    transition: all 200ms ease-in;
  }

  .card__link:hover.card__link::after {
    opacity: 1;
  }

  #transform .card__link::after {
    background: var(--color-primary-2);
  }

  #standout .card__link::after {
    background: var(--color-primary-1);
  }

  @media (max-width: 835px) {
    .card__text {
      padding-inline: 1rem;
      text-align: center;
    }
  }

  @media (max-width: 675px) {
    .card {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }

    .card__text {
      padding-block: 4rem;
    }

    #transform .card__text,
    #transform .card__img-container {
      grid-column: auto;
      grid-row: auto;
    }

    .card__heading {
      font-size: 2rem;
    }

    .card__copy {
      font-size: 1.1rem;
    }
  }
</style>
