---
// import { Image } from "astro:assets";
const { backgroundMobile, backgroundDesktop, heading, copy, link, id } =
  Astro.props;
---

<div class="card" id={id}>

  <div class="card__img">
    <img src={backgroundDesktop} alt="" srcset="" />
    <img src={backgroundMobile} alt="" srcset="" />
  </div>
  <div class="card__text">
    <h3>{heading}</h3>
    <p>{copy}</p>
    <a href="">{link}</a>
  </div>
</div>

<style>
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #transform .card__text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #transform .card__img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  img {
    display: block;
    width: 100%;
    object-position: 0%;
  }

  img:last-of-type {
    display: none;
  }
  
  .card__text {
    padding-inline: 7rem;
    align-self: center;
  }

  h3,
  a {
    font-family: "Fraunces", serif;
    color: var(--color-neutral-1);
  }

  h3 {
    font-size: clamp(2rem, 3vw, 4rem);
    font-weight: 900;
    margin-block: 0;
  }

  p {
    font-family: "Barlow", sans-serif;
    color: var(--color-neutral-3);
    line-height: 1.5;
    font-size: 1.1rem;
    margin-block: 2rem;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    padding-left: 6px;
  }

  a::after {
    content: "";
    height: 8px;
    width: calc(100% + 8px);
    opacity: 0.3;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: -1;
  }

  #transform a::after  {
    background: var(--color-primary-2);
  }

  #standout a::after {
    background: var(--color-primary-1);
  }
</style>
